body
  display: flex
  flex-direction: column
  margin: 0
  padding: 0

a:visited
  color: blue

.nav
  flex: none
  border-bottom: 1px solid

.nav>div
  display: flex
  align-items: center
  padding: 0 20px

.name
  display: flex
  flex: 1
  align-items: center

.nav h1
  margin-right: 20px

.menu
  z-index: 1
  display: flex
  justify-content: flex-end
  width: 100%

.menu span
  display: inline-block
  border: 8px solid
  border-right-color: transparent
  border-bottom-color: transparent
  border-left-color: transparent
  height: 0px
  margin-top: 10px

.menu input
  position: absolute
  cursor: pointer
  opacity: 0
  z-index: 2
  margin-top: -6px
  margin-right: -12px
  width: 40px
  height: 40px

.menu input:checked ~ ul
  display: unset

.menu ul
  position: absolute
  list-style-type: none
  padding: 5px
  background-color: #fff
  border: 1px solid
  border-radius: 5px
  display: none
  margin-top: 30px

.menu ul li
  margin-top: 10px
  margin-bottom: 10px

.container
  flex: 1 0 auto
  padding: 20px

.content
  max-width: 980px
  margin: 0 auto

.content textarea
  height: 200px
  width: 440px
  max-width: 100%

.content form>input, .content form>textarea
  margin-bottom: 3%

.repo-view-info
  display: flex

.refs
  flex: none
  width: 20%

.log
  flex: 1
  width: 80%

.commits
  padding-bottom: 10px
  border-bottom: 1px solid

.commit-message>pre
  padding: 10px

.log pre, .empty-repo pre
  padding: 5px
  font-size: 14px
  background-color: #eee
  border-radius: 5px
  border: 1px solid #ccc

.tree-items
  list-style: none
  padding: 10px 0

.tree-items>li
  padding-bottom: 5px

.tree-items>li>img
  width: 15px
  margin-bottom: -3px
  padding-right: 5px
  filter: invert(.5)

.md
  padding: 10px
  border-radius: 10px
  border: 1px solid #ddd
  margin-top: 20px

.md a:visited
  color: unset

.home
  text-align: center

.clone
  background-color: #eee
  padding: 10px

.clone>p
  margin: 0
  margin-bottom: 10px

.clone>input
  width: 100%
  box-sizing: border-box

.empty-repo
  width: 100%

.file
  border: 1px solid #999
  border-radius: 5px

.file-info
  padding: 10px
  border-bottom: 1px solid #999

.file-info-line-count
  border-right: 1px solid #bbb
  padding-right: 10px
  margin-right: 10px

.file-info > a
  float: right

.file-code
  overflow-x: auto

.file-code > table
  padding: 0 5px

.file-contents-line-number
  font-family: monospace
  text-align: right
  padding-right: 10px
  border-right: 1px solid #ccc
  user-select: none

.file-contents-line-number > a
  text-decoration: none
  color: #888 !important

.file-contents-line
  font-family: monospace
  padding-left: 10px
  line-height: 15px
  width: 100%
  white-space: pre

.file-contents-line:target
  background-color: yellow
