<a href="/">{{name}}</a><br>
<b><a href="/{{username}}">{{username}}</a> / <a href="/{{username}}/{{reponame}}">{{reponame}}</a></b>

<form method="POST" action="">
    <label for="subject">Subject</label>
    <input name="subject" type="text"/><br>
    <label for="content">Content</label>
    <textarea name="content"></textarea><br>
    {{#auth?}}
    <label for="official">Speak Officially</label>
    <input name="official" type="checkbox"/><br>
    {{/auth}}
    <button type="submit">Open a New Issue</button>
</form>

<ul>
{{#issues}}
<li><a href="/{{username}}/{{reponame}}/issues/{{.id}}">#{{.id}} {{#.subject}}{{.}}{{/.subject}}</a></li>
{{/issues}}
</ul>
