{{>header.html}}

<ul>
{{#thread}}
<li>
    {{#.subject}}<h4>{{.}}</h4>{{/.subject}}
    <h5>#{{.id}} {{#.name}}{{.}} ###Official{{/.name}}{{^.name}}Anonymous{{/.name}}</h5>
    <p>{{.content}}</p>
</li>
{{/thread}}
</ul>

<form method="POST" action="">
    <label for="content">Content</label>
    <textarea name="content"></textarea><br>
    {{#auth?}}
    <label for="official">Speak Officially</label>
    <input name="official" type="checkbox"/><br>
    {{/auth}}
    <button type="submit">Reply</button>
</form>
