<div class="container">
<div class="content">
    {{>header.html}}

    <h5>{{filename}}</h5>

    {{#src.explode().}}
    {{#.File}}
    <div class="file">
        <div class="file-info">
            <span class="file-info-line-count">{{.file.len()}} lines</span>
            <span>{{.size}}</span>
            <a href="{{mount}}{{url}}/raw/{{filename}}">Raw</a>
        </div>
        <table>
            <tbody>
                {{#.file}}
                <tr>
                    <td class="file-contents-line-number"><a href="#{{.0}}">{{.0}}</a></td>
                    <td class="file-contents-line" id="{{.0}}"><span>{{.1}}</span></td>
                </tr>
                {{/.file}}
            </tbody>
        </table>
    </div>
    {{/.File}}
    {{#.Dir}}
    <ul>
        {{#.items}}
        <li><a href="{{mount}}{{url}}/{{filename}}/{{.name}}">{{.name}}</a> {{.obj_type.str()}}</li>
        {{/.items}}
    </ul>
    {{#.readme}}
    <p>{{{.}}}</p>
    {{/.readme}}
    {{/.Dir}}
    {{#.Error}}
    <p>This entry can't be viewed online.</p>
    {{/.Error}}
    {{/src.explode()}}
</div>
</div>
