<div class="container">
<div class="content">
    <h2>
        <a href="{{mount}}{{username}}">{{username}}</a>
        / <a href="{{mount}}{{url}}">{{repo.name}}</a>
        {{#path}}
        / <a href="{{mount}}{{url}}{{.0}}">{{.1}}</a>
        {{/path}}
    </h2>

    {{#src.explode().}}
    {{#.File}}
    <div class="file">
        <div class="file-info">
            <span class="file-info-line-count">{{.file.len()}} lines</span>
            <span>{{.size}}</span>
            <a href="{{mount}}{{url}}/raw/{{filename}}">Raw</a>
        </div>
        <table>
            <tbody>
                {{#.file}}
                <tr>
                    <td class="file-contents-line-number"><a href="#{{.0}}">{{.0}}</a></td>
                    <td class="file-contents-line" id="{{.0}}"><span>{{.1}}</span></td>
                </tr>
                {{/.file}}
            </tbody>
        </table>
    </div>
    {{/.File}}
    {{#.Dir}}
    <ul class="tree-items">
        {{#.items}}
        <li>
            <img src="{{mount}}resources/{{.obj_type.str()}}.svg" />
            <a href="{{mount}}{{url}}/{{filename}}/{{.name}}">{{.name}}</a>
        </li>
        {{/.items}}
    </ul>
    {{#.readme}}
    <p>{{{.}}}</p>
    {{/.readme}}
    {{/.Dir}}
    {{#.Error}}
    <p>This entry can't be viewed online.</p>
    {{/.Error}}
    {{/src.explode()}}
</div>
</div>
