{{>header.html}}
{{^empty?}}
<h4>{{repo.description}}</h4>

<div class="clone">
    <p>Clone this repo</p>
    <code>git clone {{url}}{{username}}/{{repo.name}}</code>
</div>

<div class="refs">
    {{^branches.is_empty()?}}
    <h5>Branches</h5>
    <ul>
        {{#branches}}
        <li><a href="refs/{{.name}}">{{.name}}</a></li>
        {{/branches}}
    </ul>
    {{/branches.is_empty()}}
    {{^tags.is_empty()?}}
    <h5>Tags</h5>
    <ul>
        {{#tags}}
        <li><a href="refs/{{.name}}">{{.name}}</a></li>
        {{/tags}}
    </ul>
    {{/tags.is_empty()}}
    <a href="refs">View All</a>
</div>

<div class="commits">
    <ul>
        {{#commits}}
        <li><a href="refs/{{.id}}">{{.short_id}}</a> {{.message}} by {{.author}} {{.time}}</li>
        {{/commits}}
    </ul>
    <a href="log">View Log</a>
</div>

{{#readme}}
<p>{{{.}}}</p>
{{/readme}}
{{/empty}}
{{#empty?}}
<h1>Empty repository TODO</h1>
{{/empty}}
