<nav class="nav">
    <h1><a href="{{mount}}">{{name}}</a></h1>
    {{#username.is_some()?}}
    <div class="menu">
        <input type="checkbox">
        <span></span>
        <ul>
            <li><a href="{{mount}}repo/new">Create Repository</a></li>
            <li><a href="{{mount}}{{#username}}{{.}}{{/username}}">Profile</a></li>
            <li><a href="{{mount}}settings">Settings</a></li>
        </ul>
    </div>
    {{/username.is_some()}}
    {{^username.is_some()?}}
    <p>
        <a href="{{mount}}login">Login</a>
        {{#signup?}}or <a href="{{mount}}signup">Signup</a>{{/signup}}
    </p>
    {{/username.is_some()}}
</nav>
