<div class="container">
<div class="content">
    <h3>Create a New Repository</h3>
    <form method="POST" action="">
        <label for="name">Repository Name</label><br>
        <input name="name" type="text" size="30" /><br>
        <label for="description">Description</label><br>
        <input name="description" type="text" size="30" /><br>
        <label for="private">Private Repository?</label><br>
        <input name="private" type="checkbox" /><br>
        <button type="submit">Create Repository</button>
    </form>
</div>
</div>
