<div class="content">
    <form method="POST" action="">
        <label for="username">Username</label><br>
        <input name="username" type="text" size="30" /><br>
        <label for="email">Email</label><br>
        <input name="email" type="email" size="30" /><br>
        <label for="password">Password</label><br>
        <input name="password" type="password" size="30" /><br>
        <label for="password_confirm">Confirm</label><br>
        <input name="password_confirm" type="password" size="30" /><br>
        <button type="submit">Signup</button>
    </form>
</div>
